<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Discount Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group row">
        <label class="col-sm-3 col-lg-4 control-label">Amount in Dollars</label>
        <div class="col-sm-9 col-lg-8 controls">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input [(ngModel)]='findingData.finding_additional_discount' class="form-control" placeholder="0.00" type="number">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group row">
        <label class="col-sm-3 col-lg-4 control-label">Authorized by</label>
        <div class="col-sm-9 col-lg-8 controls">
          <select [(ngModel)]='findingData.finding_additional_discount_party' class="form-control">
            <option value=""> - select - </option>
            <option value="Inspector">Inspector</option>
            <option value="Crew Manager">Crew Manager</option>
            <option value="Executive">Executive</option>
            <option value="Inspector Miss">Inspector Miss</option>
            <option value="Crew Miss">Crew Miss</option>
          </select>
        </div>
      </div>
    </div>


    <br>
    <div class="col-md-12">
      <div class="form-group row">
        <div class="col-sm-9 col-sm-offset-3 col-lg-9 col-lg-offset-2">
          <input id="submit_discount_popup" name="submit_discount_popup" class="btn btn-primary" type="button" value="  Done  "
            (click)="discountSubmit()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </div>

  </div>

</div>
