<app-panel [page_title]="page_title"></app-panel>
<div class="intake-tab-content">
<div class="row pb-2 pt-4 intab-content">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h4 class="h4-heading">Review</h4>
        </div>
      </div>
      <p class="pt-4">
        You are urged to tab back and double-check that your Work Completion Status are all correct and complete. 
        If yes, then finish work Completion tasks but clicking the button below.
      </p>
      <br/><br/>
      <p>Open and Review the NOC before signing marking this job as completed:</p>
      <p>
        <strong>Standard Notice of Work Completed and Not Completed: </strong>
        <span *ngIf="job.job_work_completion_pdf_file ">
          <a href="javascript:;" (click)="openNoc()"> Open</a> | 
          <a href="javascript:;" (click)="downloadNoc()"> Download </a>
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-circle btn-lg " title="Generate NOC" href="javascript:;" (click)="generateNoc(report.report_id)" >
          <i class="fa fa-file"></i>
        </a> <span> Generate NOC </span>
        
        <span 
        [hidden]="generateLoader" 
        class="signal" 
        style="width: 30px; 
        height: 30px; 
        border: 5px solid #333;
        left : 53%;
        top : 55%;
        "></span>

      </p>
      <br/><br/>
      
      <div *ngIf = "job.job_is_completed == 1 || job_completed">
        <span><strong>Job Status:</strong> Completed</span>
        <p><strong><a href="javascript:void(0);" (click)="goToOveriew(job.job_id)">GoTo Overview</a></strong></p>  
      </div>
      <br/><br/>
      <div class="submit_inspection" *ngIf = "job.job_is_completed == 0">
        <input class="btn btn-primary mark_but" type="submit" value="  Mark Job as Completed  " (click)="markJobAsCompleted()" [hidden]="mark_job">
      </div>
      <div class="submit_inspection" [hidden]="!loading">
          <span class="signal"></span>
      </div>
</div>
</div>
