/node_modules
/public/hot
/public/temp
/public/storage
/public/app
/public/upload-file
/public/.htaccess
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.env
.phpunit.result.cache

/resources/assets/app/src/environments/environment.ts
/resources/assets/app/src/environments/environment.prod.ts
/nbproject/
client_secret.json
client_secret_sheet.json
token.json
token-git.json