.col-md-12.new-company-cont {
    background-color: #eee;
    margin: 20px 0px;
}
.comp_search_link {
    text-decoration: underline;
    color: #6a0708;
    cursor: pointer;
}
.warning{
    background-color: #b3b1b1;
    //visibility: hidden;
    cursor: no-drop;
    pointer-events: none;
}