.ti_note{
    float: left;
    display: inline;
    width: 90%;
    height: 24px;
    max-height: 24px;
    overflow: hidden;
    border-right: #C8C8C8 solid 1px;
    border-left: #C8C8C8 solid 1px;
    border-top: #C8C8C8 solid 1px;
    padding: 2px;
    cursor: pointer;
}
h5{
    color: black;
}
