.help-inline{
    color:#7b7b7b;
}

h3.subtit{
    color: #6a0708;
    // border-bottom: #6a0708 solid 1px;
    font-size: 22px;
    font-weight: bold;
}
// .btn.btn-primary {
//     background-color: #6a0708;
//     border-color:#6a0708;
// }
.heading{
    color: #000000;
}
.shadow{
    cursor: pointer;
}
.form-border{
    border:none !important;
}
.add-new-btn{
	margin-top:26px;
}
.add-new-search{
	margin-top: 62px;
}
