.dropdown-item:hover {
    background-color: aqua;
    cursor: pointer;

}
.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #6E080A;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}


.loder-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    // opacity: .9;
    overflow: hidden;
    transition: all .1s ease-in-out;
    z-index: 1050;
}

.loder-popup .popup-inner {
    width: 100%;
    height: 100%;
    margin: 0;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.table .form-control{
  height: calc(2.0rem + 2px);
}
.table .input-group-text{
    line-height:1.3;
}
.table .input-group-append .btn{
    line-height:1.3;
}
.min_100{
    min-width:100px;
}
.calendar-contol{
    opacity: 0;
}