<div class="row">
  <div class="col-md-12">
     <div class="page-title">
        <div>
           <h1><i class="fa fa-search-plus"></i>  Inspection: Order New</h1>
        </div>
     </div>
  </div>
</div>
<!-- <div id="breadcrumbs">
  <ul class="breadcrumb">
  </ul>
</div> -->
<div class="intake_header">
    <div class="row tabbable">
      <div class="col-md-2">
        <ul id="intakeTab" class="nav nav-tabs">
          <li class="tablinks active" (click)="openCity($event,'intakeCont')"><i class="fa fa-home"></i> Intake</li>
          <li class="tablinks" (click)="openCity($event,'inspectionCont')"><i class="fa fa-search-plus"></i> Inspection</li>
          <li class="tablinks" (click)="openCity($event,'workCont')"><i class="fa fa-wrench"></i> Work</li>
        </ul>
      </div>
      <div class="col-md-10 tabcontent active" id="intakeCont">
        <div class="intakeStepsCont">
          <div class="progress">
            <div class="line"></div>
            <p class="tab-stages active"><br>
                <span class="tab-stage-labels1">
                    <a href="#">Client Info</a></span>
            </p>
            <div class="line"></div>
            <p class="tab-stages"><br><span class="tab-stage-labels1"><a href="#">Property Info</a></span></p>
            <div class="line"></div>
            <p class="tab-stages"><br><span class="tab-stage-labels1"><a href="#">Details</a></span></p>
            <div class="line"></div>
            <p class="tab-stages"><br><span class="tab-stage-labels1"><a href="#">Intrested Parties</a></span></p>
            <div class="line"></div>
            <p class="tab-stages"><br><span class="tab-stage-labels1"><a href="#">Scheduling</a></span></p>
            <div class="line"></div>
            <p class="tab-stages"><br><span class="tab-stage-labels1"><a href="#">Overview</a></span></p>
            <div class="line"></div>
          </div>
        </div>  
      </div>

      <div class="col-md-10 tabcontent" id="inspectionCont">
          <div class="intakeStepsCont">
              <div class="progress">
                <div class="line"></div>
                <p class="tab-stages"><br><span class="tab-stage-labels1"><a href="#">Inspection Info</a></span></p>
                <div class="line"></div>
                <p class="tab-stages"><br><span class="tab-stage-labels1"><a href="#">Findings</a></span></p>
                <div class="line"></div>
                <p class="tab-stages"><br><span class="tab-stage-labels1"><a href="#">Diagram</a></span></p>
                <div class="line"></div>
                <p class="tab-stages"><br><span class="tab-stage-labels1"><a href="#">Confirm</a></span></p>
                <div class="line"></div>
              </div>
          </div>
        </div>  

      <div class="col-md-10 tabcontent" id="workCont">
          <div class="intakeStepsCont">
              <div class="progress">
                <div class="line"></div>
                <p class="tab-stages"><br><span class="tab-stage-labels1"><a href="#">Job Info</a></span></p>
                <div class="line"></div>
                <p class="tab-stages"><br><span class="tab-stage-labels2"><a href="#">Completion Tasks</a></span></p>
                <div class="line"></div>
                <p class="tab-stages"><br><span class="tab-stage-labels1"><a href="#">Confirm</a></span></p>
                <div class="line"></div>
              </div>
          </div>
      </div>

    </div>
</div> 

  
   