.top-center-labels {
    text-align:center; 
    font-weight:bold;
}
.top-center-value {
    text-align:center;   
}

.right-labels {
  text-align:right;
  font-weight:bold;
}
.left-values {
  text-align:left;
}