
/* Messages And Chat ------------------------------------------ */
.messages {
    margin: 0;
    padding: 5px;
    padding-bottom: 0;
    list-style: none;
}
.messages > li {
    margin-bottom: 15px;
}
.messages > li > img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.messages > li > div {
    background-color: #9c9898;
    padding: 5px;
    padding-top: 1px;
    margin-left: 80px;
    position: relative;
}
.messages > li > div:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    top: 19px;
    border-right: 10px solid #9c9898;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.messages > li > div h6 {
    font-weight: bold;
    display: inline-block;
}
.messages > li > div .time {
    margin-top: 5px;
    color: rgb(29, 28, 28);
    float: right;
}
.messages.messages-stripped > li:nth-child(odd) > div,
.messages.messages-chatty > li.right > div {
    background-color: #eef1f4;
}
.messages.messages-stripped > li:nth-child(odd) > div:before {
    border-right-color: #eef1f4;
}
.messages.messages-zigzag > li:nth-child(even) > img,
.messages.messages-chatty > li.right > img {
    float: right;
}
.messages.messages-zigzag > li:nth-child(even) > div,
.messages.messages-chatty > li.right > div {
    margin-right: 80px;
    margin-left: 0;
}
.messages.messages-zigzag > li:nth-child(even) > div:before,
.messages.messages-chatty > li.right > div:before {
    right: -10px;
    left: auto;
    border-left: 10px solid #9c9898;
    border-right: 0;
}
.messages.messages-chatty > li.right > div:before {
    border-left-color: #eef1f4;
}
.messages.messages-zigzag > li:nth-child(even) > div h5,
.messages.messages-zigzag > li.right > div h5 {
    float: right;
}
.messages.messages-zigzag > li:nth-child(even) > div .time,
.messages.messages-zigzag > li.right > div .time {
    float: none;
}

.messages.messages-chat > li > div {
    padding-top: 0;
    padding-bottom: 2px;
}
.messages.messages-chat > li > div p {
    margin-bottom: 3px;
    line-height: 16px;
}
.messages li .messages-actions {
    position: absolute;
    bottom: 5px;
    right: 10px;
    opacity: 0;
    white-space: nowrap;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.messages li:hover .messages-actions {
    opacity: 1;
}
.messages li .messages-actions a {
    font-size: 16px;
    margin: 0 3px;
}
.messages-input-form {
    position:relative;
    border:1px solid #ddd;
    margin-top: 10px;
}
.messages-input-form .input {
    margin-right: 90px;
}
.messages-input-form .input input[type="text"] {
    border:0;
    margin-bottom:0;
    display:block;
    padding: 4px 6px;
    height: 30px;
}
.messages-input-form .buttons {
    position:absolute;
    right:0;
    top:0;
    white-space: nowrap;
}
.messages-input-form .buttons a {
    color: #ccc;
    margin: 4px;
    line-height: 32px;
}
.messages-input-form .buttons a > i {
    font-size: 16px;
}
.messages-input-form .buttons a:hover {
    color: #555;
}
.messages-input-form .buttons .btn {
    margin-top: -5px;
    margin-right: 1px;
    height: 28px;
}