<app-panel></app-panel>
<div class="intake-tab-content">
<div class="row pb-2 pt-4 intab-content">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 pb-5">
                <h4 class="h4-heading">Property Info</h4>
            </div>
        </div>
        <div class="row">
            <form>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="title" class="col-md-3 col-form-label"><b>Property Type : </b> </label>
                                <div class="col-md-8">
                                    <select class="form-control" name="carlist" form="carform">
                                        <option value="Single">Single Family</option>
                                        <option value="Multy">Multy</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="title" class="col-md-3 col-form-label"><b>Foundation : </b> </label>
                                <!-- <input class="form-control" type="text" id="cname" name="cname"  > -->
                                <div class="col-md-8">
                                    <select class="form-control" name="carlist" form="carform">
                                        <option value="Single">Slab</option>
                                        <option value="Multy">Raised</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="title" class="col-md-3 col-form-label"><b>Property Year Built :</b> </label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" id="phone" name="phone" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="title" class="col-md-3 col-form-label"><b>Property Square Feet :</b> </label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" id="phone" name="phone" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="title" class="col-md-3 col-form-label"><b>Property Notes :</b> </label>
                                <div class="col-md-8">
                                    <textarea class="form-control"></textarea>
                                </div>
                                <!-- <input class="form-control" type="text" id="lname" name="lname" > -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label for="title" class="col-md-3 col-form-label"><b>Notes to Inspector :</b> </label>
                                <div class="col-md-8">
                                    <textarea class="form-control"></textarea>
                                </div>
                                <!-- <input class="form-control" type="text" id="lname" name="lname" > -->
                            </div>
                        </div>
                    </div>
                    <div class="pt-2">
                        <input class="btn btn-primary" id="" type="button" (click)="nextPage()" value="Enter Property Details  -> Next   ">&nbsp;&nbsp;
                        <!-- <input class="btn btn-primary" id="" type="button" (click)="nextPage()" value="Open New Job Order->Next "> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>